.subscribe-hero{
  margin-bottom: 168px;
    &__container{
        background-image: url("../img/subscribe/subscribe-hero.png");
        background-repeat: no-repeat;
        max-width: 1280px;
        border-radius: 10px;
    }
    &__left{
        max-width: 486px;
        width: 100%;
        padding: 134px 85px;
    }
    &__heading{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;

    }

    &__desc{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 1440px){
    .container {
      max-width: 1352px;
    }
  }

  @media only screen and (max-width: 1200px){
    .container {
      max-width: 960px;
    }
  }

  @media only screen and (max-width: 992px){
    .subscribe-hero{
      margin-bottom: 144px;
    }
    .subscribe-hero__container{
      background-image: url("../img/subscribe/subscribe-hero-tablet.png");
      // background-repeat: no-repeat;
      // background-size: cover;
    }
    .container {
      max-width: 720px;
    }
  }

  @media only screen and (max-width: 768px){
    .subscribe-hero__container{
      background-image: url("../img/subscribe/subscribe-hero-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      max-width: 540px;
    }
  }

  @media only screen and (max-width: 576px){
    .subscribe-hero{
      margin-bottom: 120px;
      &__left{
        padding: 100px 24px;
      }
      &__heading{
        font-size: 40px;
        line-height: 40px;
      }
      &__desc{
        font-size: 15px;
        line-height: 25px;
      }
    }
    .container {
      max-width: 100%;
    }
  }